<div class="card">

    <div class="card-header">
        Add New Property
    </div>

    <div class="card-body">
        <form (ngSubmit)="onSubmit(Form)" #Form="ngForm">
            <div>

                <tabset #formTabs>
                    <tab heading="Basic Info">Basic content
                        <div class="form-group col-12">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" #propName="ngModel" ngModel name="Name" required minlength="5">
                            <span *ngIf="!propName.valid && propName.touched" class="error-block">
                                <span *ngIf="propName.errors?.['required']"> Please provide a name.</span>
                                <span *ngIf="propName.errors?.['minlength']">Name must be at least 5 characters long.</span>
                            </span>
                        </div>
            
                        <div class="form-group col-12">
                            <label for="type">Type</label>
                            <input type="text" class="form-control" ngModel name="Type" required #typeInput="ngModel">
                            <span *ngIf="typeInput.touched && typeInput.invalid" class="error-block">
                                Please provide a type.
                            </span>
                        </div>
            
                        <div class="form-group price col-12">
                            <label for="price">Price</label>
                            <input type="text" class="form-control" ngModel name="Price" required #priceInput="ngModel">
                            <span *ngIf="priceInput.touched && priceInput.invalid" class="error-block">
                                Please provide the price.
                            </span>
                        </div>
            
                        <div class="form-group col-12">
                            <button [disabled]="!Form.valid" type="button" class="btn btn-primary save-button btn-block" (click)="selectTab(1)">Next</button>
                        </div>
                    </tab>
                    <tab heading="Pricing and Area">Pricing Information</tab>
                    <tab heading="Address">Address</tab>
                    <tab heading="Other Details">Other Details</tab>
                    <tab heading="Photos">Upload Photos</tab>
                </tabset>

            </div>
        </form>
    </div>
</div>