.card-header {
    background-color: #e6f2ff;
}

.card {
    background-color: #ffffff;
}

.form-control {
    padding: 10px;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #0b5ed7;
}

.save-button {
    margin-right: 10px;
}

.form-group.price {
    margin-bottom: 15px;
}

.photo-control {
    min-height: 300px;
    vertical-align: middle;
    text-align: center;
    border: 1px dashed blue;
    margin: 5px;
}

.carpet-area {
    margin-bottom: 15px;
}

.Sell-Rent-Button {
    margin-right: 15px;
}

.btn-group > label[ng-reflect-btn-radio] {
    border-radius: 44px;
    padding: 0 15px;
    line-height: 30px;
}