.card-header {
    background-color: #e6f2ff;
}

.card {
    background-color: #ffffff;
}

.form-control {
    padding: 10px;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #0b5ed7;
}

.save-button {
    margin-right: 10px;
}

.form-group.price {
    margin-bottom: 15px;
}

.ng-invalid.ng-touched {
    border-color: red;
}

.error-block {
    color: red;
}